.hadesboard-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px; /* Adjust spacing as needed */
}

.hadesboard-gallery-item {
  width: calc(50% - 20px); /* Adjust for mobile view */
  margin: 10px; /* Adjust spacing */
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.hadesboard-gallery-item img,
.hadesboard-gallery-item video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px !important;
  filter: grayscale(1);
  transition: all ease 0.5s;
}

.hadesboard-gallery-item video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hadesboard-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hadesboard-gallery-item:hover .hadesboard-overlay {
  opacity: 1;
  cursor: zoom-in;
}

.hadesboard-gallery-item:hover {
  cursor: zoom-in;
}

.hadesboard-gallery-item:hover img,
.hadesboard-gallery-item:hover video {
  filter: grayscale(0);
}

/* Modal Styling */
.hb-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.hb-modal .modal-content {
  background-color: #fefefe;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  position: relative;
  min-height: 800px;
}

.hb-modal .close {
  font-size: 30px;
  background-color: #6c757d;
  height: 35px;
  width: 35px;
  right: 20px;
  top: 20px;
  pointer-events: initial;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-weight: 100;
}

.hb-modal .close:hover {
  background-color: #869099;
  color: white !important;
}

.hb-modal .modal-body {
  padding: 20px;
}

.hb-modal .modal-body h2 {
  color: black;
}

.hb-modal .modal-body .hb-post-content {
  color: rgb(26, 26, 26);
}

/* Optionally style images and videos within the modal */
.hb-modal .modal-body img,
.hb-modal .modal-body video {
  max-width: 100%;
  height: auto;
}

.hb-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* CSS for Modal Navigation */
.modal-navigation {
  position: fixed;
  bottom: 10px; /* Adjust as needed */
  width: 98%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.modal-navigation button {
  background-color: #42474b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal-navigation button:hover {
  background-color: #6b7379;
}

.modal-navigation button svg {
  fill: white;
}

[data-fancybox="gallery"] {
  width: 100%;
}

.modal-navigation button:disabled {
  background: none;
  color: transparent;
  cursor: auto;
}

@media (min-width: 992px) {
  .hadesboard-gallery-item {
    width: calc(10% - 20px); /* Adjust for desktop view */
  }

  .hb-modal .modal-content {
    width: calc(100% - 190px);
    max-width: 1400px;
  }
}

/* Like button */

.like-section {
  text-align: center;
  padding: 1.3em;
}

.like-section #likeButton {
  border: none;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background: #0057ff;
  color: white;
}

.like-section #likeButton i {
  font-size: 24px;
}

.like-section #likeButton:hover {
  background-color: #0046cc;
}

.like-section #likeButton.liked {
  background-color: #232323 !important;
  color: red !important;
}

.like-section #likeCount {
  display: block;
  padding: 10px;
  color: black;
}

.fancybox-is-open .fancybox-bg {
  opacity: 1 !important;
}

.fancybox-bg {
  background: black !important;
}

.hadesboard-gallery-filters {
  text-align: center;
  margin-bottom: 20px;
}

.filter-button {
  background-color: #0073aa;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.filter-button:hover,
.filter-button.active {
  background-color: #005177;
}

/* Loader CSS */
#modalLoader {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure it appears above other elements */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Ensure the modal-content is relatively positioned to contain the absolute loader */
.modal-content {
  position: relative;
}

/* Hide the modal body and like section initially */
.modal-body,
.like-section {
  display: none;
}
